:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* START HERE */
#root {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 15vh 85vh;
}

/* TOP NAVIGATION BAR */
#header {
  grid-row: 1;
  background-color: #004040;
}

.navigation {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}

/* HOME PAGE */

/* SHOP PAGE */
p.welcome-message {
  margin-left: 30px;
}

/* CART PAGE */
.product-list {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.product {
  margin: 30px;
  padding: 20px;
  background-color: #000080;
  justify-content: center;
  display: grid;
  justify-items: center;
}

.cart.product {
  width: 92vw;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cart.product > button {
  background-color: #250505;
}

.cart > Link {
  justify-self: end;
}
