:root {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  color: black;
}

:focus {
  background-color: cyan;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

p {
  font-size: 30px;
}

.left-container {
  position: relative;
  width: 35%;
  float: left;
}

.right-container {
  position: relative;
  width: 65%;
  float: right;
  display: flex;
  flex-direction: column;
  /* justify-content: stretch; */
  align-items: stretch;
}

img.background {
  width: 100%;
  min-height: 100%;
}

.right-top,
.right-middle,
.right-bottom {
  padding-left: 5%;
  padding-right: 20%;
}

.right-top,
.right-bottom {
  display: flex;
  /* height: 30%; */
  flex: 1;
  background-color: #fffafa;
  color: black;
  justify-content: center;
}

.right-top {
  padding-top: 10%;
  padding-bottom: 3%;
}

.right-middle {
  display: flex;
  /* height: 30%; */
  flex: 1;
  background-color: white;
  color: black;
  padding-top: 5%;
  flex-direction: column;
  align-items: left;
  border: 1px ridge #facafa;
}

.r-mid {
  display: flex;
  /* justify-content: space-between; */
}

input {
  height: 25px;
  font-size: 70%;
  padding-left: 6px;
  width: 200px;
  margin-right: 60px;
}

label {
  /* margin-left: auto; */
  font-weight: 600;
  font-size: 60%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p.wrong-password {
  box-sizing: border-box;
  margin-top: -10px;
  font-size: x-small;
  color: white;
}

.right-bottom {
  padding-top: 3%;
  padding-bottom: 3%;
  display: block;
}

button.sign-up {
  background-color: #596d48;
  font-size: large;
  color: white;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
}

input,
label {
  display: block;
}

input {
  border-color: #e5e7eb;
}

a.login-link {
  text-decoration: none;
  font-weight: bold;
  color: green;
}
