* {
  font-size: x-large;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("./burger.jpg");
  background-size: 100% 100%;
  display: grid;
  grid-template: repeat(2, 1fr);
}

.header {
  grid-row: 1;
  height: 20%;
  display: grid;
  place-items: center;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  background-color: rgb(0, 0, 255, 0.7);
  color: red;
  font-size: larger;
}

.header .restaurant-name {
  grid-row: 1;
  grid-column: 1/4;
  font-size: xx-large;
  font-style: italic;
}

.header button.page {
  grid-row: 2;
  height: fit-content;
  width: fit-content;
}

.main-content {
  grid-row: 2;
  height: 80%;
  width: 100%;
  display: grid;
  place-items: center;
}

.main-content .display-page {
  height: 90%;
  width: 80%;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  background-color: rgb(0, 255, 0, 0.7);
  color: rgb(155, 0, 255);
}

.page {
  display: grid;
  place-items: center;
}

img {
  opacity: 1;
}

.page#home {
  grid-template: 1fr 10fr;
}

.page#menu {
  /* grid-template: repeat(auto-fill, minmax(250px, 1fr)) / repeat(2, 1fr); */
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
}

.food-container {
  display: grid;
  place-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 10%;
}

img#food-picture {
  height: 150px;
  width: 150px;
}

.food-name {
  font-size: larger;
  font-weight: bold;
}

.food-description {
  font-size: large;
}

.picture-container .picture {
  opacity: 1;
}

.picture-container #profile-picture {
  border-radius: 50%;
  border: 3px solid magenta;
}

.hidden {
  display: none;
}
