* {
  font-size: xx-large;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("./burger.jpg");
  background-size: 100% 100%;
  display: grid;
  grid-template: repeat(2, 1fr);
}

.header {
  grid-row: 1;
  height: 20%;
  display: grid;
  place-items: center;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  opacity: 0.7;
  background-color: blue;
  color: red;
}

.header .restaurant-name {
  grid-row: 1;
  grid-column: 1/4;
  font-size: xx-large;
  font-style: italic;
}

.header button.page {
  grid-row: 2;
  height: fit-content;
  width: fit-content;
}

.main-content {
  grid-row: 2;
  height: 80%;
  width: 100%;
  display: grid;
  place-items: center;
}

.main-content .display-page {
  height: 90%;
  width: 80%;
  display: grid;
  justify-content: center;
  opacity: 0.7;
  background-color: green;
  color: red;
}

:hidden {
  display: none;
}
