* {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  display: grid;
  grid-template-rows: 80% 20%;
}

/* PICTURE FRAME */
.picture-frame {
  grid-row: 1;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  justify-items: center;
}

.arrow-container,
.arrow-container > button {
  display: block;
  height: 100%;
  width: 100%;
  opacity: 30%;
  border: none;
  background-color: #04aa6d;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  /* height: 100%;
  width: 100%; */
}

.picture-container {
  grid-column: 2;
  width: 80%;
  height: auto;
}

.picture-container > img {
  width: 100%;
  height: auto;
}

/* PICTURE SLIDER */
.picture-slider {
  overflow-x: scroll;
  height: 100%;
  background-color: rgb(50, 0, 155);
  display: flex;
  align-items: center;
}

span.circle {
  min-height: 50px;
  min-width: 50px;
  margin: 20px;
  background-color: rgb(75, 0, 75);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

span.circle.current {
  background-color: rgb(255, 0, 125);
}
