* {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  display: grid;
}

/* ABOVE */
.turn {
  font-size: 48px;
  justify-self: center;
  align-self: center;
}

.game-state {
  font-size: 36px;
  justify-self: center;
  align-self: center;
}

/* GAME BOARD */
.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 90%;
}

.board-header {
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.board {
  grid-row: 2;
  height: 50vh;
  width: 40vw;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  margin: 50px;
}

.board-1 {
  grid-column: 1;
}

.board-2 {
  grid-column: 2;
}

.row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(10, 1fr);
}

span.cell {
  border-collapse: collapse;
  border: 1px solid purple;
  color: transparent;
}

span.cell.attacked {
  background-color: grey;
  color: white;
}

#board-1 > .row > span.cell:hover {
  background-color: green;
  cursor: pointer;
}

#board-1 > .row > span.cell.attacked:hover {
  background-color: red;
  cursor: not-allowed;
}

span.cell.highlight {
  background-color: blue;
}
